.popup {
    height: 330px;
    background-color: rgba(0, 0, 0, 0.5);
    left: 425px;
    top: 195px;
    right: 425px;
    bottom: 195px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.8s linear;
  }