.input-error {
    min-height: 30px;
    margin-top: 5px 0 5px 0;
    padding: 0;
    color: rgba(255, 0, 0, 1);
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    display: block;
  }

  /* .input-error {
    display: block;
    margin: 5px 0 0;
    padding: 0;
    color: #FF0000;
    font-size: 12px;
    line-height: 14.52px;
  } */