.elements {
    /* margin: 0;
    padding: 0; */
    max-width: 880px;
    width: calc(100% - 2*200px);
    padding-top: 47.25px;
  }
  
  @media screen and (max-width: 1024px) {
    .elements {
     grid-template-columns: repeat(2, 1fr);
    }
  }

  /* @media screen and (max-width: 768px) {
    .elements {
      justify-content: center;
    }
  } */
  
  @media screen and (max-width: 480px) {
    .elements {
      padding-top: 36px;
      display: flex;
      flex-direction: column;
      column-gap: 0;
    }
  }